{% set pages_total = pages|length %}
{% set action = '{0}_show'.format(type) %}


{% if type == 'blog' %}

<h2 class="number-of-blogs">{{ _('1 blog') if pages_total == 1 else _('{0} blogs').format(pages_total) }}</h2>
{% else %}
<h2>{{ _('Pages')}}</h2>
{% endif %}


{% if pages %}
{% set editor = h.get_wysiwyg_editor() %}

<div class="row">

{% for page in pages %}
{% if id %} {# this is for orgs and groups #}
{% set url = h.url_for(controller='ckanext.pages.controller:PagesController', action=action, id=id, page='/' + page.name) %}
{% elif type == 'blog' %}
{% set url = h.url_for(controller='ckanext.pages.controller:PagesController', action='blog_show', page='/' + page.name) %}
{% else %}
{% set url = h.url_for(controller='ckanext.pages.controller:PagesController', action='pages_show', page='/' + page.name) %}
{% endif %}
    <h2 id="notfound" style="text-align: center;display:none"> No Blog Found </h2>
    <div class="col-sm-6 col-md-4">
      <a class="homepage-full-blog" href="{{url}}">
      </a>
      <div class="feed-card thumbnail blog-card"><a class="homepage-full-blog"
          href={{url}}>

          <img class="feed-image" src="{{page.image}}" alt="Feed Image">

          <div class="caption">
            <h4 class="homepage-heading blog-heading">
              {{ page.title }}
            </h4>
            <hr class="divider">
            <div class="homepage-heading blog-content">

              <p> {{page.content|truncate}} </p>

            </div>
          </div>
        </a><a class="homepage-read-more" href={{url}}>Read More</a>
      </div>

    </div>






{% endfor %}
</div>

{% else %}
{% if type == 'blog' %}
<p class="empty">{{ _('There are currently no blog articles here') }}</p>
{% else %}
<p class="empty">{{ _('There are currently no pages here') }}</p>
{% endif %}
{% endif %}





